@import 'common.scss';

.form {
    &__label {
        display: flex;
        margin-bottom: sp(1);
        text-transform: uppercase;
        font-weight: $font-medium;
        font-size: ms(-1);

        &.required:after {
            content: '*';
            margin: 0 3px;
        }
    }
}
/* To overide bootstrap */
label { 
    font-weight: $font-medium;
    margin-bottom: 0;
} 

select { padding: sp(2); }

fieldset {
    padding: sp(4) 0;
    flex: 100%;

    legend {
        position: absolute;
        margin: sp(-7) sp(-3) sp(-3);
        padding: sp(1);
        font-size: ms(-1);
        font-weight: $font-light;
        background: $grey-sky;
    }
}